@{
    ViewBag.Title = "Home Page";
}
    <body background="~/Content/Images/logan.jpg" class="img-responsive" alt="Responsive Image">
    
        
            <div class="jumbotron bg-transparent">
                <h1>Welcome To My SuperHeroes List!</h1>
            </div>

            <div class="row">
                <div class="col-md-4">


                </div>
                <div class="col-md-4">
                    <h2><strong>Wolverine</strong></h2>
                    <img src="~/Content/Images/wolverine.jpg" class="img-responsive" alt="Responsive image">

                </div>
                <div class="col-md-4">
                    <h2></h2>

                </div>
            </div>
</body>